<div id="mySidenav2" class="sidenav">
    <div class="d-flex justify-content-around">
        <div></div>
        <div><p>SHOPPING CART</p></div>
        <!-- <div><button href="javascript:void(0)" class="btn btn-task btn-circle btn-sm" onclick="closeCart2()">&times;</button></div> -->
        <div><button href="javascript:void(0)" class="btn btn-task btn-circle" onclick="closeCart2()">
            <img src="{{ 'Vector.png' | asset_url }}" alt="">
        </button></div>
    </div>
    <hr>
    <div class="main">
        <div class="title-section text-center">
            <div class="cart-background">
                <img src="{{ 'bag1.png' | asset_url }}" alt="" class="cart-logo">
            </div>                    
            <p class="cart-header">Your Cart is empty</p>
            <p>For the start, Here are our most popular categories</p>
            <div class="cta-btns">
                <button type="button" class="btn btn-outline-danger btn-block">BEST SELLERS</button>
                <button type="button" class="btn btn-outline-danger btn-block">CAST IRON COOKWARE</button>
                <button type="button" class="btn btn-outline-danger btn-block">COFFEE</button>
                <button type="button" class="btn btn-outline-danger btn-block">ENAMELED CAST IRON</button>
                <button type="button" class="btn btn-outline-danger btn-block">KITCHEN GADGETS</button>
                <button type="button" class="btn btn-outline-danger btn-block">ALL PRODUCTS</button>
            </div>
        </div>
    </div>

    <div class="footer no-background">
        <div class="">                    
            <div class="d-flex mt-1 mb-1">
                <div class="cta-hover"></div>
                <div class="cta-hover m-cta"></div>
                <div class="cta-hover m-cta"></div>
                <div class="cta-hover m-cta"></div>
                <div class="cta-hover m-cta"></div>
                <div class="cta-hover m-cta"></div>
                <div class="cta-hover m-cta"></div>  
            </div>
        </div>
    </div>
</div>