<p class="frequently"> Frequently bought together: </p>
<div class="d-flex justify-content-between">
    <img src="{{ 'Rectangle512.png' | asset_url }}" alt="" class="img-suggestion">
    <img src="{{ 'Rectangle512.png' | asset_url }}" alt="" class="img-suggestion">
    <img src="{{ 'Rectangle512.png' | asset_url }}" alt="" class="img-suggestion">
</div>