<div class="align-self-center d-flex justify-content-between">     
    {% for link in linklists[section.settings.main_linklist].links %}

        {% if link.links == blank %}
            <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
        {% endif %}
    {% endfor %}                
    <span class="nav-link" onclick="openCart()"> Cart(Full) </span>
    <span class="nav-link" onclick="openCart2()"> Cart(Blank) </span>
</div>